<h1>This is the dash board file!</h1>

<p>Welcome, {{user.username}}</p>
<h2>Posts You've Created</h2>

<ul>
  {{#each posts}}
    <li data-id={{id}}>
      <a href="/dashboard/edit/{{id}}">
       <h3>{{title}}</h3>
        <p>{{content}}</p>
      </a>
<button data-id={{id}} class="delete">delete</button>
    </li>
  {{/each}}
</ul>

<h2>Write A New Post</h2>
<form class="postForm">
  <label for="title">Title:</label>
  <br />

  <input type="text" name="title" id="title" />
  <label for="content">Content:</label>
  <br />

  <textarea name="content" id="content"></textarea>
  <input type="hidden" id="user_id" data-userid="{{userId}}" />

  <input type="submit" id="submit-btn" />
</form>

<script src="/js/post.js"></script>
<script src="/js/delete.js"></script>